header {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9fc;
  height: 3rem;
  width: 100%;
  z-index: 3;
  transition: opacity 0.3s ease;
  padding: 0 1rem;
}

.invisible {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.city-div,
.search-icon-container {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-and-city {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.city-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: auto;
}

.city-logo {
  width: 2rem;
  height: 2rem;
  z-index: 2;
}

.city-div p {
  margin: 0;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.3rem;
  z-index: 2;
  color: #c2272d;
}

.search-icon {
  height: 75%;
  align-self: center;
}
.search-icon-container {
  display: flex;
  align-items: center;
  height: 100%;
}