.startpage {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  position: relative;

  .imgLayer {
    z-index: 1;
    position: absolute;
  }

  .icon,
  .title {
    opacity: 0;
    transform: translateY(-150px);
    transition: all 1.2s ease-out;
  }

  .icon.show,
  .title.show {
    opacity: 1;
    transform: translateY(0);
  }

  .icon {
    background-color: white;
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 6px;
    border: none;
    
  }

  .title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    bottom: 120px;
    position: relative;

    .stad {
      letter-spacing: 1rem;
      text-align: center;
      font-size: 1.8rem;
      padding-left: 8px;
    }
  }

  .textStad {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-out;
    position: relative;
    z-index: 2;
    top: 280px;
    height: 500px;
    padding: 2rem;
    text-align: center;
    border: none;

    &.show {
      opacity: 1;
      transform: translateY(0);
    }

    p,
    h5 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }

  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .city-switcher {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      button {
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        font-size: 1rem;
        background-color: white;
        cursor: pointer;
        border-radius: 20px;
        transition: all 0.3s ease;

        &:first-child {
          color: white;
        }

        &:hover {
          opacity: 0.9;
        }
      }

    }
  }
}

.news-section-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.boras {
    background-color: red;
  }

  &.malmo {
    background-color: green;
  }
}